@media only screen and (width > 0px) and (width < 768px){
    body {
        background-color: red;
    }
}
@media only screen and (width >=768px) and (width < 992px) {
    body {
        background-color: green;
    }
    #small {
        width: 33%;
    }
    #medium {
        width: 66%;
    }
    #large {
        width:100%;
    }
}
@media only screen and (width >= 992px) {
    body {
        background-color: blue;
        display: flex;
      }
}